/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.nav-bar {
  font-size: 2em;
  margin: 0em;
  padding: 10px;
  border: 10px solid black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Didot";
  font-weight: normal;
}

#home {
  color: black;
  font-family: "times";
  text-decoration: none;
  margin: 70px;
}

#takeaction {
  color: black;
  font-family: "times";
  text-decoration: none;
  margin: 70px;
}

#titlePhoto {
  margin: 2em;
  width: 100em;
}

.inform {
  display: inline-block;
  float-left: 0em;
  margin-right: 0em;
  width:100%;
  background-color: #FFFF00;
  font-family: "times";
  font-weight: bold;
}

.firstPhoto{
  margin-top: .5em;
  margin-side:0em;
  width: 100%;
}

.Squares{
  background-color: white;
  padding: 3em;
  margin: 35px;
  text-align: center;
  
  display: flex; /* Set the flexbox display */
  flex-direction: row; /* Configure the flex items to row */
  flex-wrap: nowrap; /* Don’t wrap the flex items */
  justify-content: center; /* Justify the flex items to the center */
  align-items: center; /* Align the flex items to the center */
  /* Design properties */
  padding: 5px;


  /* Positioning properties */
  position: absolute;
  left: 15%;
  right: 15%;
  top: 50%;
  
  line-height: 60px;
  text-align: center;
  
}

#petitionSquare, #donateSquare{
  background-color: #FFFF00;
  margin: 2em;
  padding: 1.5em;
  font-size: 3em;
  font-family: "Didot";
  font-weight: bold;
}

.titles {
  font-size: 3em;
  font-family: "Didot";
  color: black;
  font-weight: 900;
}

*{
  padding: 0em;
  margin: 0em;
}




/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}